html{
    font-family: 'Comic Sans MS';
    font-size: 22px;
}

body{
    /* animation: change-background 1s ease infinite; */
    background-color: aquamarine;
}

#pfp {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px;
}

#pfp img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Keyframes */
@keyframes change-background {
    0% {
      background-color: red;
    }
    25% {
      background-color: blue;
    }
    50% {
      background-color: green;
    }
    75% {
      background-color: pink;
    }
    100% {
      background-color: red;
    }
  }