html{
    font-family: 'Comic Sans MS';
    font-size: 22px;
}

body{
    background-color: aquamarine;
}

#pfp {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
}

#pfp img {
  display: block;
  max-width: 100%;
  height: auto;
}
